@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* GEOMETRÍA: Sharp (Técnico) */
        --radius: 0.125rem; /* 2px */

        /* MODO CLARO (Por defecto) */
        --color-fill: 248 250 252;       /* slate-50 */
        --color-fill-card: 255 255 255;  /* white */
        --color-fill-hover: 241 245 249; /* slate-100 */

        --color-primary: 79 70 229;      /* indigo-600 */
        --color-primary-hover: 67 56 202; /* indigo-700 */
        --color-primary-text: 255 255 255;

        --color-text-base: 15 23 42;     /* slate-900 */
        --color-text-muted: 100 116 139; /* slate-500 */
        --color-text-inverted: 255 255 255;
        --color-border: 226 232 240;     /* slate-200 */

        --color-danger: 220 38 38;       /* red-600 */
        --color-success: 22 163 74;      /* green-600 */
    }

    /* MODO OSCURO (Se activa si el html tiene class="dark") */
    .dark {
        --color-fill: 15 23 42;          /* slate-900 */
        --color-fill-card: 30 41 59;     /* slate-800 */
        --color-fill-hover: 51 65 85;    /* slate-700 */

        --color-primary: 99 102 241;     /* indigo-500 (Más brillante para contraste) */
        --color-primary-hover: 129 140 248; 
        
        --color-text-base: 241 245 249;  /* slate-100 */
        --color-text-muted: 148 163 184; /* slate-400 */
        --color-border: 51 65 85;        /* slate-700 */
    }
}

body {
    @apply bg-skin-fill text-skin-base font-sans antialiased transition-colors duration-200;
}

/* Scrollbar personalizada sutil */
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { @apply bg-skin-border rounded-full; }